body {
    background-color: rgb(79, 79, 244);
    display: flex;
    justify-content: center;

}


img {
    max-width: 180px;

}

img[src="labs.jpg"] {
    max-width: 108px;

}

#cont {
    text-align: center;
    padding: 0 20px;
    flex-basis: 50%;
}

#container {
    position: absolute;
    top: 200px;
    background-color: white;
    display: flex;
    border: 2px solid white;
    border-radius: 6px;

}

.h {
    color: grey;
}

#button {
    color: blue;
    background-color: white;
    padding: 5px 25px;
    border: 2px solid blue;
    border-radius: 3px;
}

#button:hover {
    padding: 10px 30px;
    background-color: rgb(157, 157, 241);
    box-shadow: 3px;
}

@media(max-width:800px) {
    #container {
        flex-direction: column;
        position: relative;
        bottom: 150px;

    }

}